certifi==2020.6.20
click==7.1.2
Flask==1.0.2
future==0.18.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.15.4
Pillow==7.2.0
https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
torchvision==0.7.0
Werkzeug==1.0.1 